---
import Clock from '@/components/Clock.svelte'
import ToDo from '@/components/ToDo.svelte'
import SliderX from '@/components/SliderX.svelte'
import Card from '@/components/Card.svelte'
import Layout from '@/layouts/Layout.astro'

const response = await fetch(import.meta.env.PUBLIC_URL + '/api/entertainment')
const responseTasks = await fetch(import.meta.env.PUBLIC_URL + '/api/tasks')

const entertainments = await response.json()
const tasks = await responseTasks.json()
---

<style lang="scss">
  @import '../sass/mixins.scss';
  .legendary-mode {
    padding-top: 50px;
    display: flex;
    gap: 30px;

    @include notDesktop {
      flex-direction: column-reverse;
    }
  }

  h2 {
    padding-top: 70px;
    font-size: 70px;

    @include notDesktop {
      font-size: 30px;
    }
  }
</style>

<Layout title="Legendary Mode">
  <h2 class="g-wrapper">Legendary Mode</h2>
  <div class="legendary-mode g-wrapper">
    <ToDo {tasks} client:load />
    <Clock client:load />
  </div>

  <h2 class="g-wrapper">Positive Inputs</h2>
  <SliderX gap="30" client:load>
    {
      entertainments.map((item) => (
        <Card
          title={item.title}
          description={item.desc}
          image="https://i.ytimg.com/vi/0r3XtsYmNzI/maxresdefault.jpg"
          href="https://www.youtube.com/@TheWildProject"
          laia={item.laia}
          miquel={item.miquel}
          client:visible
        />
      ))
    }
  </SliderX>
</Layout>
